/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/pages/Home.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap);
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/components/Navbar.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap);
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/components/Footer.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap);
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/components/ProductCard.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap);
/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/pages/Shop.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap);
/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/pages/About.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap);
/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/pages/Contact.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap);
/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/pages/Product.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap);
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/pages/Home.module.scss (1) ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

p {
  margin: 0;
}

.Home-module-heroSection-Xhl_d {
  background-color: #eeeeee;
  padding: 165px 0;
}
.Home-module-heroSection-Xhl_d .Home-module-heroSectionContainer-Tk9C5 {
  justify-content: center;
}
.Home-module-heroSection-Xhl_d .Home-module-heroSectionContainer-Tk9C5 .Home-module-heroSectionTitle-VTfA3 {
  width: 100%;
  font-size: 32px !important;
  color: #1ea1d7;
  font-weight: 900 !important;
}
.Home-module-heroSection-Xhl_d .Home-module-heroSectionContainer-Tk9C5 .Home-module-heroSectionHeading-HmmpK {
  width: 100%;
  font-size: 64px !important;
  color: #121212;
  font-weight: bolder !important;
  line-height: 1;
}
.Home-module-heroSection-Xhl_d .Home-module-heroSectionContainer-Tk9C5 .Home-module-heroSectionSubheading-FkIM_ {
  font-size: 18px !important;
  color: #373737;
  font-weight: normal !important;
  line-height: 1.5;
}
.Home-module-heroSection-Xhl_d .Home-module-heroSectionContainer-Tk9C5 .Home-module-heroSectionImageContainer-z6f9h {
  max-height: 350px;
  max-width: 100%;
  justify-content: center;
}
.Home-module-heroSection-Xhl_d .Home-module-heroSectionContainer-Tk9C5 .Home-module-heroSectionImageContainer-z6f9h .Home-module-heroSectionImage-shHfX {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.Home-module-categoriesSection-Vy8T9 {
  background-color: #1ea1d7;
  padding: 50px 0;
}
.Home-module-categoriesSection-Vy8T9 .Home-module-categoriesSectionContainer-C6oFt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Home-module-categoriesSection-Vy8T9 .Home-module-categoriesSectionContainer-C6oFt .Home-module-categoriesSectionHeading-jFzzp {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}
.Home-module-categoriesSection-Vy8T9 .Home-module-categoriesSectionContainer-C6oFt .Home-module-categoriesSectionSubheading-gdCfN {
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}
.Home-module-categoriesSection-Vy8T9 .Home-module-categoriesSectionContainer-C6oFt .Home-module-categoriesSectionGridContainer-paUPM {
  justify-content: end;
}
.Home-module-categoriesSection-Vy8T9 .Home-module-categoriesSectionContainer-C6oFt .Home-module-categoriesSectionGridContainer-paUPM .Home-module-categoriesSectionGrid-LxAZE {
  width: 200px;
}
.Home-module-categoriesSection-Vy8T9 .Home-module-categoriesSectionContainer-C6oFt .Home-module-categoriesSectionGridContainer-paUPM .Home-module-categoriesSectionGrid-LxAZE .Home-module-categoriesSectionCard-f7SGq {
  background-color: transparent;
  text-align: center;
  color: white;
  box-shadow: none;
  border-radius: 0;
}
.Home-module-categoriesSection-Vy8T9 .Home-module-categoriesSectionContainer-C6oFt .Home-module-categoriesSectionGridContainer-paUPM .Home-module-categoriesSectionGrid-LxAZE .Home-module-categoriesSectionCard-f7SGq .Home-module-categoriesSectionCardContent-eQH57 {
  font-size: 18px;
  padding: 16px 0 0 0;
}

.Home-module-productSection-OLEYl {
  padding: 70px 0px;
}
.Home-module-productSection-OLEYl .Home-module-productSectionHeader-uInRL {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.Home-module-productSection-OLEYl .Home-module-productSectionHeader-uInRL .Home-module-productSectionHeading-M1pwp {
  font-size: 32px;
  font-weight: bold;
  color: #121212;
}
.Home-module-productSection-OLEYl .Home-module-productGrid-I09yy {
  display: flex;
}
.Home-module-productSection-OLEYl .Home-module-productNoProduct-Sss5I {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home-module-productSection-OLEYl .Home-module-productPagination-WiDtC {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.Home-module-featureSection-eBcwV {
  padding: 50px 0;
}
.Home-module-featureSection-eBcwV .Home-module-featureSectionCard-GXANa {
  padding: 20px;
  background-color: #dbdbdb;
  box-shadow: none;
  border-radius: 0;
  display: flex;
  column-gap: 15px;
  align-items: center;
}
.Home-module-featureSection-eBcwV .Home-module-featureSectionCard-GXANa .Home-module-featureSectionCardIconBox-TiZ43 {
  background-color: #1ea1d7;
  padding: 15px;
  width: fit-content;
  height: fit-content;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.Home-module-featureSection-eBcwV .Home-module-featureSectionCard-GXANa .Home-module-featureSectionCardContent-Zq6Rb {
  padding: 0;
}
.Home-module-featureSection-eBcwV .Home-module-featureSectionCard-GXANa .Home-module-featureSectionCardContent-Zq6Rb .Home-module-featureSectionCardHeading-lc1hU {
  font-size: 16px;
  font-weight: bolder;
}
.Home-module-featureSection-eBcwV .Home-module-featureSectionCard-GXANa .Home-module-featureSectionCardContent-Zq6Rb .Home-module-featureSectionCardSubheading-ucOLq {
  font-size: 16px;
  color: #585858;
}

@media (max-width: 1535px) {
  .Home-module-heroSection-Xhl_d {
    padding: 50px 0;
  }
  .Home-module-heroSection-Xhl_d .Home-module-heroSectionTitle-VTfA3,
  .Home-module-heroSection-Xhl_d .Home-module-heroSectionHeading-HmmpK,
  .Home-module-heroSection-Xhl_d .Home-module-heroSectionSubheading-FkIM_ {
    text-align: center;
  }
  .Home-module-categoriesSectionContainer-C6oFt {
    flex-direction: column;
    row-gap: 20px;
  }
  .Home-module-categoriesSectionContainer-C6oFt .Home-module-categoriesSectionHeading-jFzzp {
    text-align: center;
  }
  .Home-module-categoriesSectionContainer-C6oFt .Home-module-categoriesSectionSubheading-gdCfN {
    text-align: center;
  }
  .Home-module-categoriesSectionGridContainer-paUPM {
    justify-content: center !important;
  }
  .Home-module-productSection-OLEYl {
    padding: 50px 0 0 0;
  }
}
@media (max-width: 540px) {
  .Home-module-productSectionHeader-uInRL {
    display: block !important;
  }
  .Home-module-productSectionHeader-uInRL .Home-module-productSectionHeading-M1pwp {
    margin-bottom: 10px;
  }
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/components/Navbar.module.scss (1) ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

p {
  margin: 0;
}

.Navbar-module-navbar-CnXQ1 {
  padding: 15px 0;
  background-color: #373737 !important;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-mobileNavbarButton-Xwm0u {
  color: #ffffff;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-menuPopover-nJnmZ {
  position: fixed;
  top: 0;
  left: 0;
  color: #121212;
  z-index: 100;
  height: 100dvh;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-menuPopover-nJnmZ .Navbar-module-popoverContainer-lXNaB {
  background-color: rgba(18, 18, 18, 0.5);
  height: 100dvh;
  width: 100dvw;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-menuPopover-nJnmZ .Navbar-module-menuPopoverBox-gAl7X {
  width: fit-content;
  height: 100dvh;
  background-color: #ffffff;
  padding: 15px 16px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-menuPopover-nJnmZ .Navbar-module-menuPopoverBox-gAl7X .Navbar-module-closeButton-GS23X {
  width: fit-content;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-menuPopover-nJnmZ .Navbar-module-menuPopoverBox-gAl7X .Navbar-module-mobileNavLinkButton-Y7pBT {
  border-radius: 5px;
  color: #121212;
  font-weight: 400;
  font-size: 15px;
  padding: 8px 16px;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-menuPopover-nJnmZ .Navbar-module-menuPopoverBox-gAl7X .Navbar-module-mobileAccordion-bJQMw {
  margin: 11px 0;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-menuPopover-nJnmZ .Navbar-module-menuPopoverBox-gAl7X .Navbar-module-mobileAccordion-bJQMw .Navbar-module-mobileAccordionDetails-L5s_6 {
  padding-bottom: 0;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-menuPopover-nJnmZ .Navbar-module-menuPopoverBox-gAl7X .Navbar-module-mobileNavbarSearchContainer-nMwmF {
  background-color: #dbdbdb;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  font-size: 15px;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-menuPopover-nJnmZ .Navbar-module-menuPopoverBox-gAl7X .Navbar-module-mobileNavbarLoginButton-atb4A {
  width: 250px;
  background-color: #1ea1d7;
  font-size: 15px;
  color: #ffffff;
  border-radius: 0;
  padding: 10px 35px;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cartPopover-XxlEM {
  position: fixed;
  top: 0;
  right: 0;
  color: #121212;
  z-index: 100;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cartPopover-XxlEM .Navbar-module-closeButton-GS23X {
  width: fit-content;
  align-self: end;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cartPopover-XxlEM .Navbar-module-popoverContainer-lXNaB {
  background-color: rgba(18, 18, 18, 0.5);
  height: 100dvh;
  width: 100dvw;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cartPopover-XxlEM .Navbar-module-mobileCartInfo-o9u__ {
  width: fit-content;
  height: 100dvh;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cartPopover-XxlEM .Navbar-module-mobileCartInfo-o9u__ .Navbar-module-mobileCartList-kJk5I {
  font-size: 14px;
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cartPopover-XxlEM .Navbar-module-mobileCartInfo-o9u__ .Navbar-module-mobileCartList-kJk5I .Navbar-module-mobileCartListImage-SwroQ {
  height: 70px;
  width: 70px;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cartPopover-XxlEM .Navbar-module-mobileCartInfo-o9u__ .Navbar-module-mobileCartList-kJk5I .Navbar-module-mobileCartDetails-Qie4b {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100px;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cartPopover-XxlEM .Navbar-module-mobileCartInfo-o9u__ .Navbar-module-mobileCartList-kJk5I .Navbar-module-mobileCartDetails-Qie4b .Navbar-module-mobileCartDetailsName-fDfQb {
  color: #121212;
  font-weight: bold;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cartPopover-XxlEM .Navbar-module-mobileCartInfo-o9u__ .Navbar-module-mobileCartList-kJk5I .Navbar-module-mobileCartDetails-Qie4b .Navbar-module-mobileCartDetailsPrice-MqkgE {
  color: #1ea1d7;
  font-weight: bold;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cartPopover-XxlEM .Navbar-module-mobileCartInfo-o9u__ .Navbar-module-mobileCartList-kJk5I .Navbar-module-mobileCartQuantity-C25Mc {
  display: flex;
  color: #585858;
  height: fit-content;
  font-size: 14px;
  align-items: center;
  column-gap: 5px;
  border: 1px solid #dbdbdb;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cartPopover-XxlEM .Navbar-module-mobileCartInfo-o9u__ .Navbar-module-mobileCartTotal-V12jl {
  display: flex;
  justify-content: space-between;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cartPopover-XxlEM .Navbar-module-mobileCartInfo-o9u__ .Navbar-module-mobileCartTotal-V12jl .Navbar-module-mobileCartTotalText-Qtof2 {
  color: #121212;
  font-weight: bold;
  font-size: 16px;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cartPopover-XxlEM .Navbar-module-mobileCartInfo-o9u__ .Navbar-module-mobileCartButtons-K5Y73 {
  display: flex;
  column-gap: 10px;
  width: 100%;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cartPopover-XxlEM .Navbar-module-mobileCartInfo-o9u__ .Navbar-module-mobileCartButtons-K5Y73 .Navbar-module-mobileCartView-V6Ne1 {
  width: 50%;
  background-color: #121212;
  color: #ffffff;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cartPopover-XxlEM .Navbar-module-mobileCartInfo-o9u__ .Navbar-module-mobileCartButtons-K5Y73 .Navbar-module-mobileCartCheckout-ue_uS {
  width: 50%;
  background-color: #1ea1d7;
  color: #ffffff;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-navbarBrand-Q0P_x {
  color: #1ea1d7;
  font-size: 32px;
  font-weight: 900;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-navLinkContainer-iWSe0 {
  display: flex;
  margin-left: 20px;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-navLinkContainer-iWSe0 .Navbar-module-navLinkButton-QLmrK {
  border-radius: 5px;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  padding: 8px 16px;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-navLinkContainer-iWSe0 .Navbar-module-navLinkShop-V02RV {
  display: flex;
  position: relative;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-navLinkContainer-iWSe0 .Navbar-module-navLinkShop-V02RV .Navbar-module-shopMenu-LR2Br {
  position: absolute;
  top: 63px;
  background-color: #373737;
  font-size: 14px;
  z-index: 100;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-navbarSearchContainer-CP2qC {
  background-color: #5f5f5f;
  padding: 0 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  font-size: 15px;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-navbarSearchContainer-CP2qC .Navbar-module-navbarSearchInput-AH7_c {
  height: 100%;
  color: #ffffff;
  width: 100%;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cart-H90Ha {
  display: flex;
  position: relative;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cart-H90Ha .Navbar-module-cartButton-wDZOH {
  color: white;
  font-size: 15px;
  min-width: 146px;
  text-wrap: nowrap;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cart-H90Ha .Navbar-module-cartInfo-_ol9z {
  position: absolute;
  top: 65px;
  right: 0;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  z-index: 100;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cart-H90Ha .Navbar-module-cartInfo-_ol9z .Navbar-module-cartList-tDBGI {
  font-size: 14px;
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cart-H90Ha .Navbar-module-cartInfo-_ol9z .Navbar-module-cartList-tDBGI .Navbar-module-cartListImage-SipZ4 {
  height: 70px;
  width: 70px;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cart-H90Ha .Navbar-module-cartInfo-_ol9z .Navbar-module-cartList-tDBGI .Navbar-module-cartDetails-GF4kj {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 220px;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cart-H90Ha .Navbar-module-cartInfo-_ol9z .Navbar-module-cartList-tDBGI .Navbar-module-cartDetails-GF4kj .Navbar-module-cartDetailsName-IuCcn {
  color: #121212;
  font-weight: bold;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cart-H90Ha .Navbar-module-cartInfo-_ol9z .Navbar-module-cartList-tDBGI .Navbar-module-cartDetails-GF4kj .Navbar-module-cartDetailsPrice-fnWk4 {
  color: #1ea1d7;
  font-weight: bold;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cart-H90Ha .Navbar-module-cartInfo-_ol9z .Navbar-module-cartList-tDBGI .Navbar-module-cartQuantity-tQSjb {
  display: flex;
  color: #585858;
  height: fit-content;
  font-size: 14px;
  align-items: center;
  column-gap: 5px;
  border: 1px solid #dbdbdb;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cart-H90Ha .Navbar-module-cartInfo-_ol9z .Navbar-module-cartTotal-AFx1s {
  display: flex;
  justify-content: space-between;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cart-H90Ha .Navbar-module-cartInfo-_ol9z .Navbar-module-cartTotal-AFx1s .Navbar-module-cartTotalText-NjoA7 {
  color: #121212;
  font-weight: bold;
  font-size: 16px;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cart-H90Ha .Navbar-module-cartInfo-_ol9z .Navbar-module-cartButtons-RvFWi {
  display: flex;
  column-gap: 10px;
  width: 100%;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cart-H90Ha .Navbar-module-cartInfo-_ol9z .Navbar-module-cartButtons-RvFWi .Navbar-module-cartView-gyOHR {
  width: 50%;
  background-color: #121212;
  color: #ffffff;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-cart-H90Ha .Navbar-module-cartInfo-_ol9z .Navbar-module-cartButtons-RvFWi .Navbar-module-cartCheckout-nQDdb {
  width: 50%;
  background-color: #1ea1d7;
  color: #ffffff;
}
.Navbar-module-navbar-CnXQ1 .Navbar-module-navbarContainer-n5BzC .Navbar-module-navbarLoginButton-Cggmr {
  background-color: #1ea1d7;
  font-size: 16px;
  color: #ffffff;
  border-radius: 0;
  padding: 10px 35px;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/components/Footer.module.scss (1) ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

p {
  margin: 0;
}

.Footer-module-footerSection-p4gwk {
  background-color: #121212;
  padding: 32px 0;
}

.Footer-module-footerSectionDesktopInfo-gI0Nc {
  justify-content: space-between;
}

.Footer-module-footerSectionTitle-U0svB {
  font-size: 15px !important;
  font-weight: 900 !important;
  color: #1ea1d7;
}

.Footer-module-footerSectionListItem-CQMrE {
  padding: 3px 0 !important;
  column-gap: 10px;
  height: 38px;
}
.Footer-module-footerSectionListItem-CQMrE .Footer-module-footerSectionListItemIcon-rI6bP {
  color: #1ea1d7;
  min-width: 0;
  width: fit-content;
}
.Footer-module-footerSectionListItem-CQMrE .Footer-module-footerSectionListItemText-vGICu {
  font-size: 13px !important;
  color: #ffffff !important;
}

.Footer-module-footerSectionBrand-oGXXN {
  color: #1ea1d7;
  font-size: 40px !important;
  font-weight: 900 !important;
  line-height: 0.9 !important;
}

.Footer-module-footerSectionIconContainer-mg5Ej {
  display: flex;
  column-gap: 10px;
  margin-top: 10px;
}

.Footer-module-footerSectionBrandIcon-bWB7P {
  font-size: 25px !important;
}

.Footer-module-footerSectionBrandIconLink-P4A0K {
  color: #1ea1d7;
  text-decoration: none;
}

.Footer-module-footerSectionAccordionContainer-fohZQ {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.Footer-module-footerSectionAccordionContainer-fohZQ .Footer-module-footerSectionAccordion-eSgQi {
  background-color: inherit;
  color: #1ea1d7;
  box-shadow: none;
}
.Footer-module-footerSectionAccordionContainer-fohZQ .Footer-module-footerSectionAccordion-eSgQi .Footer-module-footerSectionAccordionIcon-s3BHB {
  color: #ffffff;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/components/ProductCard.module.scss (1) ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

p {
  margin: 0;
}

.ProductCard-module-productCard-toEsL {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.ProductCard-module-productCard-toEsL .ProductCard-module-productCardButton-TlPFJ {
  height: 100%;
}
.ProductCard-module-productCard-toEsL .ProductCard-module-productCardButton-TlPFJ .ProductCard-module-productCardButtonContent-TORio {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.ProductCard-module-productCard-toEsL .ProductCard-module-productCardButton-TlPFJ .ProductCard-module-productCardButtonContent-TORio .ProductCard-module-productCardImage-n8uq4 {
  object-fit: contain;
  height: 200px;
  width: 100%;
}
.ProductCard-module-productCard-toEsL .ProductCard-module-productCardButton-TlPFJ .ProductCard-module-productCardButtonContent-TORio .ProductCard-module-productCardContent-TKF_M {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ProductCard-module-productCard-toEsL .ProductCard-module-productCardButton-TlPFJ .ProductCard-module-productCardButtonContent-TORio .ProductCard-module-productCardContent-TKF_M .ProductCard-module-productCardTitle-Ppwvc {
  color: #121212;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.ProductCard-module-productCard-toEsL .ProductCard-module-productCardButton-TlPFJ .ProductCard-module-productCardButtonContent-TORio .ProductCard-module-productCardContent-TKF_M .ProductCard-module-productCardRating-eQMFw {
  display: flex;
  column-gap: 15px;
  align-items: center;
  margin-bottom: 5px;
}
.ProductCard-module-productCard-toEsL .ProductCard-module-productCardButton-TlPFJ .ProductCard-module-productCardButtonContent-TORio .ProductCard-module-productCardContent-TKF_M .ProductCard-module-productCardRating-eQMFw .ProductCard-module-productCardRatingText-tPRil {
  font-size: 15px;
  color: #373737;
  white-space: nowrap;
}
.ProductCard-module-productCard-toEsL .ProductCard-module-productCardButton-TlPFJ .ProductCard-module-productCardButtonContent-TORio .ProductCard-module-productCardContent-TKF_M .ProductCard-module-productCardPrice-mUSoH {
  color: #1ea1d7;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 1030px) {
  .ProductCard-module-productCardRating-eQMFw {
    display: block !important;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/pages/Shop.module.scss (1) ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

p {
  margin: 0;
}

.Shop-module-page-FvQs8 {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}
.Shop-module-page-FvQs8 .Shop-module-shop-N06Sp {
  background-color: #f8f8f8;
  padding: 60px 0px;
  flex-grow: 1;
}
.Shop-module-page-FvQs8 .Shop-module-shop-N06Sp .Shop-module-shopContainer-h72wD {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.Shop-module-page-FvQs8 .Shop-module-shop-N06Sp .Shop-module-shopContainer-h72wD .Shop-module-shopPageInfo-idfjL {
  font-size: 14px;
  font-weight: 600;
  color: #585858;
  display: flex;
  align-items: center;
}
.Shop-module-page-FvQs8 .Shop-module-shop-N06Sp .Shop-module-shopContainer-h72wD .Shop-module-shopPageInfo-idfjL .Shop-module-shopPageInfoArrow-IYAvM {
  font-size: 20px;
}
.Shop-module-page-FvQs8 .Shop-module-shop-N06Sp .Shop-module-shopContainer-h72wD .Shop-module-shopPageTitle-mp8GJ {
  color: #373737;
  font-size: 25px;
  font-weight: 900;
}
.Shop-module-page-FvQs8 .Shop-module-shop-N06Sp .Shop-module-shopContainer-h72wD .Shop-module-shopPaginationInfo-esSEe {
  color: #373737;
  font-size: 16px;
  font-weight: 600;
}
.Shop-module-page-FvQs8 .Shop-module-shop-N06Sp .Shop-module-shopContainer-h72wD .Shop-module-shopPagination-mVsGQ {
  display: flex;
  justify-content: end;
}
.Shop-module-page-FvQs8 .Shop-module-shop-N06Sp .Shop-module-shopContainer-h72wD .Shop-module-shopNoProduct-icok3 {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/pages/About.module.scss (1) ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

p {
  margin: 0;
}

.About-module-aboutSection-W8cV3 {
  background-color: #f8f8f8;
  padding: 110px 0;
}
.About-module-aboutSection-W8cV3 .About-module-aboutSectionLBox-sxjsk {
  background-color: #eeeeee;
  padding: 40px;
  height: 100%;
  align-content: center;
}
.About-module-aboutSection-W8cV3 .About-module-aboutSectionLBox-sxjsk .About-module-aboutSectionLBoxHeading-hOR1v {
  font-size: 24px;
  font-weight: 1000;
  margin-bottom: 10px;
  color: #121212;
}
.About-module-aboutSection-W8cV3 .About-module-aboutSectionLBox-sxjsk .About-module-aboutSectionLBoxSubheadingContainer-R_pZF {
  display: grid;
  row-gap: 25px;
}
.About-module-aboutSection-W8cV3 .About-module-aboutSectionLBox-sxjsk .About-module-aboutSectionLBoxSubheadingContainer-R_pZF .About-module-aboutSectionLBoxSubheading-oKEXy {
  font-size: 16px;
  color: #373737;
}
.About-module-aboutSection-W8cV3 .About-module-aboutSectionRBox-MD7cR {
  background-color: #dbdbdb;
  padding: 35px;
  height: 100%;
}
.About-module-aboutSection-W8cV3 .About-module-aboutSectionRBox-MD7cR .About-module-aboutSectionRBoxLine-qmhj5 {
  width: 25%;
  height: 4px;
  background-color: #1ea1d7;
  margin: auto 0 auto 20px;
}
.About-module-aboutSection-W8cV3 .About-module-aboutSectionRBox-MD7cR .About-module-aboutSectionRBoxHeading-NTof8 {
  font-size: 18px;
  font-weight: bold;
  width: 68px;
  color: #121212;
}
.About-module-aboutSection-W8cV3 .About-module-aboutSectionRBox-MD7cR .About-module-aboutSectionRBoxSubheading-_26RU {
  margin-top: 10px;
  color: #373737;
}

@media (max-width: 900px) {
  .About-module-aboutSection-W8cV3 {
    padding: 50px 0;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/pages/Contact.module.scss (1) ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

p {
  margin: 0;
}

.Contact-module-contactInfoSection-VLXr2 {
  background-color: #f8f8f8;
  padding: 110px 0;
}
.Contact-module-contactInfoSection-VLXr2 .Contact-module-contactInfoSectionBox-d3KYM {
  background-color: #1ea1d7;
  color: #ffffff;
}
.Contact-module-contactInfoSection-VLXr2 .Contact-module-contactInfoSectionBox-d3KYM .Contact-module-contactInfoSectionBoxContent-KihT3 {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 18px;
  font-weight: 900;
}
.Contact-module-contactInfoSection-VLXr2 .Contact-module-contactInfoSectionBox-d3KYM .Contact-module-contactInfoSectionBoxContent-KihT3 .Contact-module-contactInfoSectionBoxDetails-w1XSN {
  display: flex;
  column-gap: 10px;
  font-size: 16px;
  font-weight: normal;
}
.Contact-module-contactInfoSection-VLXr2 .Contact-module-contactInfoSectionBox-d3KYM .Contact-module-contactInfoSectionBoxMap-JagER {
  height: 400px;
  color: #1ea1d7;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./resources/frontend/pages/Product.module.scss (1) ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

p {
  margin: 0;
}

.Product-module-page-pHfJ0 {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}
.Product-module-page-pHfJ0 .Product-module-productContainer-K9CiQ {
  background-color: #eeeeee;
  flex-grow: 1;
  padding: 50px 0px;
}
.Product-module-page-pHfJ0 .Product-module-productContainer-K9CiQ .Product-module-productGridBox-lbddt {
  background-color: #ffffff;
  height: fit-content;
  border: 1px solid #dbdbdb;
  display: flex;
}
.Product-module-page-pHfJ0 .Product-module-productContainer-K9CiQ .Product-module-productGridBox-lbddt .Product-module-productImageSelector-nLJnc .Product-module-imageSelectorContainer-xG32T {
  padding: 15px;
}
.Product-module-page-pHfJ0 .Product-module-productContainer-K9CiQ .Product-module-productGridBox-lbddt .Product-module-productImageSelector-nLJnc .Product-module-imageSelectorContainer-xG32T .Product-module-imageSelectorImage-PjTzI {
  height: 60px;
  width: 60px;
}
.Product-module-page-pHfJ0 .Product-module-productContainer-K9CiQ .Product-module-productGridBox-lbddt .Product-module-productImageContainer-DafPg {
  padding: 30px;
  width: 100%;
}
.Product-module-page-pHfJ0 .Product-module-productContainer-K9CiQ .Product-module-productGridBox-lbddt .Product-module-productImageContainer-DafPg .Product-module-productImage-wHMhQ {
  height: 500px;
  width: 100%;
  object-fit: contain;
}
.Product-module-page-pHfJ0 .Product-module-productContainer-K9CiQ .Product-module-productGridBox-lbddt .Product-module-verticalDivider-VGEPL {
  color: #585858;
  height: 560px;
}
.Product-module-page-pHfJ0 .Product-module-productContainer-K9CiQ .Product-module-productGridBox-lbddt .Product-module-productDetails-VJa9i {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}
.Product-module-page-pHfJ0 .Product-module-productContainer-K9CiQ .Product-module-productGridBox-lbddt .Product-module-productDetails-VJa9i .Product-module-productName-O0xXd {
  font-size: 20px;
  font-weight: 900;
  color: #121212;
}
.Product-module-page-pHfJ0 .Product-module-productContainer-K9CiQ .Product-module-productGridBox-lbddt .Product-module-productDetails-VJa9i .Product-module-horizontalDivider-tQQsf {
  color: #585858;
}
.Product-module-page-pHfJ0 .Product-module-productContainer-K9CiQ .Product-module-productGridBox-lbddt .Product-module-productDetails-VJa9i .Product-module-productInfo-E8RFG {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.Product-module-page-pHfJ0 .Product-module-productContainer-K9CiQ .Product-module-productGridBox-lbddt .Product-module-productDetails-VJa9i .Product-module-productInfo-E8RFG .Product-module-productInfoRow-tcZ35 {
  display: flex;
  align-items: center;
  height: 32px;
  justify-content: space-between;
}
.Product-module-page-pHfJ0 .Product-module-productContainer-K9CiQ .Product-module-productGridBox-lbddt .Product-module-productDetails-VJa9i .Product-module-productInfo-E8RFG .Product-module-productInfoRow-tcZ35 .Product-module-productInfoText-rGy0d {
  font-weight: 600;
}
.Product-module-page-pHfJ0 .Product-module-productContainer-K9CiQ .Product-module-productGridBox-lbddt .Product-module-productDetails-VJa9i .Product-module-productInfo-E8RFG .Product-module-quantity-T55vo {
  display: flex;
  color: #585858;
  height: fit-content;
  font-size: 14px;
  align-items: center;
  column-gap: 5px;
  border: 1px solid #dbdbdb;
  width: fit-content;
}
.Product-module-page-pHfJ0 .Product-module-productContainer-K9CiQ .Product-module-productGridBox-lbddt .Product-module-productDetails-VJa9i .Product-module-buttonContainer-C6wv2 {
  display: flex;
  column-gap: 10px;
  width: 100%;
}
.Product-module-page-pHfJ0 .Product-module-productContainer-K9CiQ .Product-module-productGridBox-lbddt .Product-module-productDetails-VJa9i .Product-module-buttonContainer-C6wv2 .Product-module-addToCartButton-sZdXi {
  color: #ffffff;
  background-color: #121212;
  width: 50%;
}
.Product-module-page-pHfJ0 .Product-module-productContainer-K9CiQ .Product-module-productGridBox-lbddt .Product-module-productDetails-VJa9i .Product-module-buttonContainer-C6wv2 .Product-module-checkoutButton-eyzX4 {
  color: #ffffff;
  background-color: #1ea1d7;
  width: 50%;
}
