@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

$b_primary: #eeeeee;
$b_secondary: #121212;
$b_sLight: #373737;
$b_red: #1ea1d7;
$b_darkGray: #5f5f5f;
$b_gray: #dbdbdb;
$b_gLight: #f8f8f8;
$b_white: #ffffff;

$t_white: #ffffff;
$t_black: #121212;
$t_lightBlack: #373737;
$t_lighterBlack: #585858;
$t_red: #1ea1d7;

body {
    margin: 0;
    font-family: "Manrope", sans-serif;
}

p {
    margin: 0;
}
