@import "../../assets/scss/main.module.scss";

.checkOutItems {
    background-color: $b_white;
    padding: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .cartListContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .cartImageDetails {
            display: flex;
            column-gap: 10px;

            .cartListImage {
                height: 70px;
                min-width: 70px;
                width: 70px;
            }

            .cartDetails {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 80%;

                .cartDetailsName {
                    color: $t_black;
                    font-weight: bold;
                }

                .cartDetailsPrice {
                    color: $t_red;
                    font-weight: bold;
                }
            }
        }

        .cartDetailsTotal {
            color: $t_black;
            font-weight: bold;
        }
    }

    .totalContainer {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        .total {
            display: flex;
            justify-content: space-between;

            .totaltext {
                font-weight: bold;
            }

            .totalTextBold {
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}
