@import "../assets/scss/main.module.scss";

.addAddressContainer {
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 10px;
    background-color: $b_white;

    .addAddressButtonContainer {
        display: flex;
        column-gap: 10px;
        justify-content: end;

        .addAddressCancel {
            font-size: 14px;
            font-weight: 600;
            background-color: $t_white;
            color: $b_red;
            border: 1px solid $b_red;
            width: 80px;
            height: fit-content;
        }

        .addAddressSave {
            font-size: 14px;
            font-weight: 600;
            background-color: $b_red;
            color: $t_white;
            width: 80px;
            height: fit-content;
        }
    }
}

.addAddressContainerDetails {
    @extend .addAddressContainer;
    border: none;
    border-radius: 0;
}

.addAddressContainerCheckout {
    @extend .addAddressContainer;
    border: 1px solid $b_gray;
    border-radius: 5px;
}
