@import "../assets/scss/main.module.scss";

.navbar {
    padding: 15px 0;
    background-color: $b_sLight !important;

    .navbarContainer {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
    }
}
