@import "../assets/scss/main.module.scss";

.page {
    height: 100dvh;
    display: flex;
    flex-direction: column;

    .checkOut {
        flex-grow: 1;
        padding: 60px 0px;
        background-color: $b_gLight;

        .brandContainer {
            display: flex;
            column-gap: 15px;

            .brandTitle {
                font-size: 40px;
                font-weight: 900;
                color: $t_red;
                line-height: 1;
            }

            .brandSubtitle {
                font-size: 18px;
                font-weight: 500;
                color: $t_lightBlack;
                line-height: 1;
                width: 130px;
            }
        }

        .checkOutForm {
            background-color: $b_white;
            padding: 20px;
            height: fit-content;
            display: flex;
            flex-direction: column;
            row-gap: 30px;

            .formTitle {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 15px;
            }

            .formInput {
                width: 100%;
            }

            .radioButton {
                width: 100%;
                border: 1px solid $b_gray;
                margin: 0;
                padding: 8px 10px;
            }

            .radioButtonSelected {
                width: 100%;
                border: 1px solid $b_red;
                background-color: rgba($b_red, 0.2);
                margin: 0;
                padding: 8px 10px;
            }

            .placeOrderButton {
                font-size: 16px;
                font-weight: 600;
                background-color: $b_red;
                color: $t_white;
                padding: 12px;

                .progress {
                    color: $b_gray;
                }
            }
            .paymentAccordion {
                border: 1px solid $b_gray;

                .paymentOptions {
                    width: 100%;
                    justify-content: start;
                    display: flex;
                    column-gap: 10px;
                    height: 45px;
                    padding-left: 20px;
                }

                .paymentText {
                    font-size: 15px;
                    padding: 10px 40px;
                    text-align: center;
                }
            }

            .deliveryAccordionSummary {
                font-size: 16px;
                padding: 18px 5px;
            }
            .selectedAddress {
                padding: 15px;
                border: 1px solid $b_red;
                border-radius: 10px;
                background-color: rgba($b_red, 0.2);

                .selectedAddressDetails {
                    font-size: 14px;
                }
            }
            .addressOptionContainer {
                display: flex;
                flex-direction: column;
                row-gap: 10px;

                .addressOption {
                    border: 1px solid $b_darkGrayLight;
                    border-radius: 10px;
                    padding: 5px 15px 5px 26px;

                    .addressOptionDefault {
                        font-size: 13px;
                        font-weight: 600;
                        color: $t_red;
                    }

                    .addressOptionDetails {
                        font-size: 14px;
                    }
                }
            }

            .addAddressButton {
                margin-top: 10px;
                width: 100%;
            }
        }
    }
}

.confirmationModal {
    display: flex;
    justify-content: center;
    align-items: center;

    .confirmationContainer {
        max-width: 530px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px 25px;
        margin: 20px 20px;
        background-color: $b_white;
        position: relative;

        .modalCloseButton {
            width: fit-content;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .confirmationModalText {
            text-align: center;
        }
    }
}
