@import "../assets/scss/main.module.scss";

.page {
    height: 100dvh;
    display: flex;
    flex-direction: column;

    .cart {
        padding: 60px 0px;
        flex-grow: 1;
        background-color: $b_gLight;
    }
}

.removeModal {
    display: flex;
    justify-content: center;
    align-items: center;

    .removeContainer {
        max-width: 530px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px 25px;
        margin: 20px 20px;
        background-color: $b_white;
        position: relative;

        .modalCloseButton {
            width: fit-content;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .removeModalText {
            margin: 20px 0;
            font-weight: 600;
        }

        .removeModalButtons {
            display: flex;
            column-gap: 10px;
            justify-content: end;

            .removeRemove {
                font-size: 14px;
                font-weight: 600;
                background-color: $b_red;
                color: $t_white;
                width: 80px;
                height: fit-content;
            }

            .removeCancel {
                font-size: 14px;
                font-weight: 600;
                background-color: $t_white;
                color: $b_red;
                border: 1px solid $b_red;
                width: 80px;
                height: fit-content;
            }
        }
    }
}
