@import "../assets/scss/main.module.scss";

.heroSection {
    background-color: $b_primary;
    padding: 165px 0;

    .heroSectionContainer {
        justify-content: center;

        .heroSectionTitle {
            width: 100%;
            font-size: 32px !important;
            color: $t_red;
            font-weight: 900 !important;
            height: fit-content;
            align-self: end;
        }

        .heroSectionHeading {
            width: 100%;
            font-size: 64px !important;
            color: $t_black;
            font-weight: bolder !important;
            line-height: 1;
        }

        .heroSectionSubheading {
            font-size: 30px !important;
            color: $t_lightBlack;
            font-weight: normal !important;
            line-height: 1.5;
            width: 100%;
        }

        .heroSectionImageContainer {
            max-height: 350px;
            max-width: 100%;
            justify-content: center;

            .heroSectionImage {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

.categoriesSection {
    background-color: $b_red;
    padding: 50px 0;

    .categoriesSectionContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .categoriesSectionHeading {
            font-size: 32px;
            font-weight: bold;
            color: $t_white;
        }

        .categoriesSectionSubheading {
            font-size: 18px;
            font-weight: normal;
            color: $t_white;
        }

        .categoriesSectionGridContainer {
            justify-content: end;

            .categoriesSectionGrid {
                width: 200px;

                .categoriesSectionCard {
                    background-color: transparent;
                    text-align: center;
                    color: white;
                    box-shadow: none;
                    border-radius: 0;

                    .categoriesSectionCardContent {
                        font-size: 18px;
                        padding: 16px 0 0 0;
                    }
                }
            }
        }
    }
}

.productSection {
    padding: 70px 0px;
    background-color: $b_gLight;

    .productSectionHeader {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        .productSectionHeading {
            font-size: 32px;
            font-weight: bold;
            color: $t_black;
        }
    }

    .productNoProduct {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .productPagination {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
}

.featureSection {
    padding: 50px 0;
    background-color: $b_gLight;

    .featureSectionCard {
        padding: 20px;
        background-color: $b_gray;
        box-shadow: none;
        border-radius: 0;
        display: flex;
        column-gap: 15px;
        align-items: center;

        .featureSectionCardIconBox {
            background-color: $b_red;
            padding: 15px;
            width: fit-content;
            height: fit-content;
            color: $t_white;
            display: flex;
            align-items: center;
        }
        .featureSectionCardContent {
            padding: 0;

            .featureSectionCardHeading {
                font-size: 16px;
                font-weight: bolder;
            }

            .featureSectionCardSubheading {
                font-size: 16px;
                color: $t_lighterBlack;
            }
        }
    }
}

@media (max-width: 1535px) {
    .heroSection {
        padding: 50px 0;

        .heroSectionTitle,
        .heroSectionHeading,
        .heroSectionSubheading {
            text-align: center;
        }
    }

    .categoriesSectionContainer {
        flex-direction: column;
        row-gap: 20px;

        .categoriesSectionHeading {
            text-align: center;
        }

        .categoriesSectionSubheading {
            text-align: center;
        }
    }

    .categoriesSectionGridContainer {
        justify-content: center !important;
    }

    .productSection {
        padding: 50px 0 0 0;
    }
}

@media (max-width: 540px) {
    .productSectionHeader {
        display: block !important;

        .productSectionHeading {
            margin-bottom: 10px;
        }
    }
}
